
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Access denined!    
}

<div class="alert alert-danger">
    <h1>You don't have permission to access this page!</h1>
</div>

