@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access denined!</title>
</head>
<body>
    <div>
        <h1 class="alert alert-danger">You don't have permission to access this page. Please contact your administrator!</h1>
    </div>
</body>
</html>
