@{
    Layout = null;
}
@model MvcApplication1.Models.MessageModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>
            @Model.Welcome
        </h3>
    </div>
</body>
</html>
