@model List<OnlineShop2.Models.CartItem>
<div class="cart">
    <p>
        <span>Shopping cart:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count item(s)
            <ul class="dropdown">
                @if (Model.Count == 0)
                {
                    <li>Shopping cart is empty</li>
                }
                else
                {
                    <li><a href="/cart">View Cart</a></li>
                }
            </ul>
        </div>
    </p>
</div>
