@model List<Model.EF.Menu>

<div class="menu">
    <ul>
        @foreach (var menu in Model)
        {
            <li><a href="@menu.Link" target="@menu.Target" title="@menu.Text">@menu.Text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
