@model List<Model.EF.ProductCategory>

<ul>
    <h3>Categories</h3>
    @foreach (var item in Model.Where(x=>x.ParentID == null))
    {
        var childs = Model.Where(x=>x.ParentID == item.ID);
        var toggleAttr = childs.Count() > 0 ? "data-toggle=dropdown id=navbarDropdown aria-haspopup=true aria-expanded=false" : "";
        var toggleClass = childs.Count() > 0 ? "class=dropdown-toggle" : "";
        <li class="nav-item dropdown">
            <a @toggleClass @toggleAttr href="/san-pham/@item.MetaTitle-@item.ID" title="@item.Name">@item.Name</a>
            @if (childs.Count() > 0)
            {
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach(var child in childs)
                    {
                        <li class="dropdown-item"><a href="/san-pham/@child.MetaTitle-@child.ID" title="@child.Name">@child.Name</a></li>
                    }
                </ul>
            }
        </li>
    }
</ul>
